$media-min-width: 768px;
$container-max-width: 1200px;

$colors-map: (
  "bg-primary": #1A1B20,
  "bg-secondary": #292B33,  /* #23242B */

  "light": #fff,
  "dark": #000,
  "primary": #006CCC,
  "secondary": #FC8C0D,
  "muted": #666A7E,
  "link": #006CCC,
  "selection": #f90,
  "grey": #eee,
) !default;

$sizes-map: (
  1: 0.5rem,
  2: 1rem,
  3: 2rem,
  4: 4rem,
  5: 8rem,
) !default;

@function color($key) {
  @return map-get($colors-map, $key)
}
